html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
