@use '../util' as *;
.experience {
    &__tabs {
        display: flex;
        margin-bottom: var(--mb-2);
        justify-content: space-evenly;

        @include breakpoint-down(extrasmaller) {
            justify-content: space-between;
        }
    }
    &__button {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        cursor: pointer;

        @include breakpoint(xxmedium) {
            margin: 0 var(--mb-1);
        }
    }
    &__button:hover {
        color: var(--first-color);
    }
    &__icon {
        font-size: 1.8rem;
        margin-right: var(--mb-0-25);
    }
    &__sections {
        display: grid;
        gap: 2.5rem;

        @include breakpoint(xmedium) {
            grid-template-columns: 0.6fr;
            justify-content: center;
        }

        @include breakpoint(xxmedium) {
            grid-template-columns: 0.5fr;
        }
    }

    &__text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;

        @include breakpoint-down(extrasmaller) {
            gap: 0.5rem;
        }
    }
    &__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }
    &__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }
    &__date {
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }
    &__rounder {
        display: inline-block;
        width: rem(13);
        height: rem(13);
        background-color: var(--first-color);
        border-radius: 50%;
    }
    &__line {
        display: block;
        width: rem(1);
        height: 100%;
        background-color: var(--first-color);
        transform: translate(6px, -7px);
    }
    & [data-content] {
        display: none;
    }
    &__active[data-content] {
        display: block;
    }
}
.experience__button.experience__active {
    color: var(--first-color);
}
